{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="text-center container">
    <h2 class="text-center" style="font-weight:bold; color:red;"> Top Business News Sources</h2>
    <hr>

        {{ macro.displaySourceList(business_sources)}}

    <h2 class="text-center" style="font-weight:bold; color:red;">Top Tech News Sources</h2>
    <hr>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    <h2 class="text-center" style="font-weight:bold; color:red;">Top Tech News Sources</h2>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    <h2 class="text-center" style="font-weight:bold; color:red;">Top Entertainment News Sources</h2>
    <hr>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}

    <h2 class="text-center" style="font-weight:bold; color:red;">Top Sports News Sources</h2>
    <hr>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}

</div>
{% endblock %}

