<!--Displaying the source list macro-->
{%macro displaySourceList(source_list)%}
    {% for source in source_list %}
    <div class="col-md-3">           
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#">
                    {{ source.name}}
                </a>
            </div>
            <div class="panel-body">
                <p>
                    {{ source.description |truncate(100)}}

                </p>
                <a href="/sources/{{source.url}}">Read News</a>
            </div>
            

        </div>
    </div>
    </div>
    {% endfor %}






{%endmacro%}
