<!--Displaying the source list macro-->
{%macro displaySourceList(source_list)%}
    {% for source in source_list %}
    <div class="col-lg-3 col-md-6 col-sm-12">           
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class='text-center' style='font-weight:bold;font-size:24px;'>
                    {{ source.name}}
                </p>
            </div>
            <div class="panel-body">
                <p>
                    {{ source.description |truncate(100)}}

                </p>
                
                <a href="{{source.url}}">Read News</a>
            </div>
            
        </div>
    </div>
    </div>
    {% endfor %}

{%endmacro%}
<!--Displaying article list-->


