{% import 'macros.html' as macro %}

<div class="navbar navbar-inverse" role="navigation" style='height:100px;'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Login</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fs-4 ms-5" href="/"><span class="text-danger">NEWSBREAK</span></a>

            <span class='categories'>
                <ul class="navbar-nav text-center">

                    <div style='display:flex; display-direction:row; justify-content:space-around; margin-top:5px;'>
                        <li class="nav-item" style='list-style:none;'>
                            <a class="nav-link"href="{{ url_for('main.index') }}" style='color:white; font-size:24px;' >Sources</a>
                        </li>
                        <li class="nav-item" style='list-style:none;'>
                            <a class="nav-link"href="{{ url_for('main.headlines') }}" style='color:white; font-size:24px;'><span style='margin-left:30px;'>Headlines</span></a>
                        </li>    
                    </div>

                </ul>
            </span>
        </div>

    </div>
</div>


